* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: 400;
    background-color: #ddd;
    line-height: 1.8em;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.overlay {
    position: absolute;
    top: 0;
}

.logo-container {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    height: 40px;
}

.nav-link {
    display: flex;
    margin: 20px;
    padding: 10px 10px;
    background-color: green;
}

.nav-link a {
    color: white;
    background-color: transparent;
}

.sign {
    text-decoration: none;
}

.login {
    text-decoration: none;
    color: rgb(27, 121, 27);
    font-size: 1em;
    margin-left: 20px;
    border-radius: 5px;
}

.pimg1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(./img/post2.jpg);
    height: 150vh;
}

.ptext {
    position: relative;
    width: 50%;
    margin: auto;
    top: 200px;
    text-align: center;
    color: #000;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 50px;
}

.ptext .border {
    color: rgb(62, 165, 62);
    padding: 8px;
}

.ptext .border a {
    text-decoration: none;
    border: 0 solid gray;
    border-radius: 5px;
    background-color: rgb(35, 167, 35);
    padding: 2px;
    color: white;
    font-size: 1.2em;
}

.ptext .border a:hover {
    background-color: green;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: green;
}